html, body{
    height: 100%;
}

.container{
    vertical-align: middle;
    display: table;
    max-width: 400px;
    height: 100%;
    min-height: 100%;
}

.form-login{
    display: table-cell;
    vertical-align: middle;
}