.project-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41,128,185,0.9);
    color: #fff;
    padding: 50%;
    opacity:0;
    -webkit-transition: opacity .25s ease;
}

.img-overlay{
    position: relative;
    max-width: 500px;
}

.img-overlay:hover .project-overlay{
    opacity:1;
}

/*#overlay    {  background:rgba(0,0,0,.75);
    text-align:center;
    padding:45px 0 66px 0;
    opacity:0;
    -webkit-transition: opacity .25s ease;}

#box:hover #overlay {
    opacity:1;}*/
