<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
        <style type="text/css">

        </style>
    {% endblock %}
    {% block head %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<!--<ul class="nav nav-pills nav-justified">
    <li role="presentation"><a href="#">HOME</a></li>
    <li role="presentation"><a href="#">NOTIFICATIONS</a></li>
</ul>-->

<div id="content">
    {% block content %}
        <!-- Barra de navegacion -->
        <nav class="navbar navbar-default">


            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">PWGRAM</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="inactive"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                        <li class="inactive"><a href="/publicPostsPoppin"> Public Posts <span
                                        class="sr-only">(current)</span></a></li>

                    </ul>
                    {% if loggeado %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/getComment" name="mycomments"> My Comments </a></li>
                        </ul>
                    {% endif %}

                    {% if loggeado %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/getMyPics" name="mypics"> My Pics </a></li>
                        </ul>
                    {% endif %}

                    {% if not loggeado %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logIn">Log In</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/signup">Sign Up</a></li>
                        </ul>
                    {% endif %}

                    {% if loggeado %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/owner">Post new Pic</a></li>
                        </ul>
                    {% endif %}
                    {% if loggeado %}
                        <ul class="nav navbar-nav navbar-right">


                            <li>
                                <img id="profile-pic" name="profile-pic" class="img-circle"
                                     src="{{ asset('/assets/img/'~profilePic) }}" width="45" height="45"/>

                            </li>
                            <li>
                                <a href="/editProfileData">{{ userSession }}</a>

                            </li>
                        </ul>



                    {% endif %}

                    {% if loggeado %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/showNotifications">Notifications
                                    {% if notificaciones %}
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                    {% endif %}
                                </a></li>
                        </ul>
                    {% endif %}


                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}
</div>
<div id="footer" class="navbar navbar-default ">
    {% block footer %}

        <footer class="footer">
            <div class="footer-bottom">

                <div class="container">
                    <p></p>
                    <p></p>
                    <p class="text-muted">Grup06: Marc Arroyo - LS28877 Sebastian Gelabert - LS28690 </p>
                </div>
            </div>
        </footer>


    {% endblock %}
</div>
{% block scripts %}
    <script src="../../../web/assets/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{% endblock %}
</body>

</html>