{% extends "base.twig" %}

{% block title %}Sign Up{% endblock %}
{% block head %}{{ parent() }}
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
{% endblock %}
{% block content %}
    {{ parent() }}

    <div class="container">
        <div class="myComments">
            <h3 class="text-left">My comments posted</h3>
            {% for comentario in comments %}

                <label class="list-group-item">{{ comentario.Content }}
                    <a class="input-group" href="/deleteComment/{{ comentario.Id }}">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash"
                                                                            aria-hidden="true"></span></button>
                    </a>
                    <p></p>
                    <a class="input-group" href="/editComment/{{ comentario.Id }}">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-edit"
                                                                            aria-hidden="true"></span></button>
                    </a>
                </label>

            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}


{% endblock %}