{% extends "base.twig" %}

{% block title %}Sign Up{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Confirmation Email Sent!</h1>
                <p>A confirmation email has been sent to your email account. Please click on the link to proceed with
                    the registration process.</p>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}


{% endblock %}
