{% extends "base.twig" %}

{% block title %}Sign Up{% endblock %}
{% block head %}{{ parent() }}
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
{% endblock %}
{% block content %}
    {{ parent() }}

    <div class="container">
        <div class="myComments">
            <h3 class="text-left">Edit your comment</h3>
            {% for comentarios in comentario %}
                <form class="form-group" name="comentario" method="GET" action="/saveEditComment/{{ comentarios.Id }}">

                    <textarea class="form-control" name="textName"> {{ comentarios.Content }} </textarea>
                    <a class="input-group" href="/saveEditComment/{{ comentarios.Id }}">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"
                                                                            aria-hidden="true"> SAVE</span></button>
                    </a>

                </form>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}


{% endblock %}