{% extends "base.twig" %}

{% block title %}Sign Up{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
    {{ parent() }}

    <div class="container">

        <div class="row">
            <h1 class="text-center">Edit Posts</h1>
        </div>
        <div class="table-striped">
            <div class="row">
                <div class="container-fluid">
                    {% for post in posts %}

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                            <p>
                            <p></p></p>
                            <figcaption class="figure-caption">{{ post.Title }}</figcaption>

                            <img class="img-responsive" src="{{ asset('/assets/img/'~post.Img_path) }}" width="400"
                                 height="400"/>
                            <p>
                            <p></p></p>
                            <div class="row">
                                <a href="/edit/{{ post.Id }}">
                                    <button type="button" class="btn btn-default"><span
                                                class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit
                                    </button>
                                </a>
                                <a href="/remove/{{ post.Id }}"
                                   onclick="return confirm('Are you sure you want to delete this post?');">
                                    <button type="button" class="btn btn-default"><span
                                                class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
                                    </button>
                                </a>

                            </div>
                        </div>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}

    <script src="../../../web/assets/js/signupJS.js"></script>

{% endblock %}
