{% extends "base.twig" %}

{% block title %}Sign Up{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Account Verified!</h1>
                <p>Thank you for verifying your email address.</p>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}


{% endblock %}
