{% extends "base.twig" %}
{% block title %}Error page{% endblock %}
{% block content %}
    <h1>An error has occurred</h1>
    <p>{{ message }}{{ code }}</p>
    <p></p>
    <p>
        <a href="/">Go to HOME</a>
    </p>
{% endblock %}