{% extends "base.twig" %}

{% block head %}{{ parent() }}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/home1.css">
{% endblock %}
{% block title %}HOME{% endblock %}

{% block content %}

    {{ parent() }}

<!-- Zona central -->

<div class="container">

    <div class="row">

        <div class="col-md-3 profile">

            <div class="col-md-8" id="fotos">
                <div class="container">

                    <div class="row">
                        <h1 class="text-center">PWGRAM</h1>
                    </div>

                    <!--TODO ESTE BLOQUE ES UNA SECCION DE LAS DOS QUE CONTIENE LA HOME -->
                    <div class="table-striped">
                        <div class="row">
                            <h3 class="text-left">Most viewed pics</h3>
                            <div class="container-fluid" id="todasFotos">
                                {% for post in posts %}

                                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                                        <p>
                                        <p></p></p>
                                        <div class="img-overlay">
                                            <img class="img-responsive"
                                                 src="{{ asset('/assets/img/'~post.Img_path) }}" width="400"
                                                 height="400"/>
                                            <div class="fa fa-plus project-overlay">
                                                <div class="overlay" style="text-align:center;">
                                                    <div class="row">
                                                        <div class="text"><span class="glyphicon glyphicon-heart"
                                                                                aria-hidden="true"></span> {{ post.Likes }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="text"><span class="glyphicon glyphicon-eye-open"
                                                                                aria-hidden="true"></span> {{ post.Visits }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <p>
                                        <p></p></p>
                                        <div class="row">
                                            <ul class="nav">
                                                <li class="nav-item">
                                                    <a class="active" href="/publicPost/{{ post.Id }}">
                                                        {{ post.Title }}
                                                    </a>
                                                </li>

                                            </ul>

                                            <ul class="nav">
                                                <li class="nav-item">
                                                    <small><a class="active"
                                                              href="/publicProfile/{{ post.User_id }}">{{ post.Username }}</a>
                                                        <br>
                                                        <span class="date sub-text"> Posted: {{ post.Created_at }}</span>
                                                    </small>
                                                </li>
                                            </ul>

                                            {% if loggeado %}
                                                <form id="likeForm" class="form-login" name="like"
                                                      action="" method="GET">
                                                    <a href="/darLike/{{ post.Id }}/{{ userId }}/0">
                                                        Like
                                                    </a>
                                                </form>
                                            {% endif %}


                                        </div>
                                        {% if loggeado %}
                                            <div class="row">
                                                <form id="comentario" class="form-login" name="comentario"
                                                      action="/comment/{{ post.Id }}" method="GET">
                                                    <input type="text" class="form-control" name="comentario"
                                                           id="comentario" placeholder="comentario"/>
                                                    <a href="/comment/{{ post.Id }}">
                                                        <button type="submit" class="btn btn-default"><span
                                                                    class="glyphicon glyphicon-comment"
                                                                    aria-hidden="true"></span>Comment
                                                        </button>
                                                    </a>
                                                </form>
                                            </div>
                                        {% endif %}
                                    </div>

                                {% endfor %}


                            </div>



                        </div>




                        <div>


                            <form id="ajax" class="form-login" name="ajax"
                                  action="/cargarFotoAjax" method="GET">
                                <input id="1" type="submit" class="btn btn-default ajax_btn">Dame los datos de las fotos</input>
                                <div id="response-container"></div>
                            </form>



                        </div>

                        <br></br>
                        <br></br>

                        <!-- SECCION PARA IMAGENES AÑADIDAS RECIENTEMENTE -->
                        <div class="table-striped">
                            <div class="row">
                                <h3 class="text-left">New pics</h3>
                                <div class="container-fluid" id="newFotos">
                                    {% for post2 in lastArray %}

                                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                                            <p>
                                            <p></p></p>
                                            <div class="img-overlay">
                                                <img class="img-responsive"
                                                     src="{{ asset('/assets/img/'~post2.Img_path) }}" width="400"
                                                     height="400"/>
                                                <div class="fa fa-plus project-overlay">
                                                    <div class="overlay" style="text-align:center;">
                                                        <div class="row">
                                                            <div class="text"><span class="glyphicon glyphicon-heart"
                                                                                    aria-hidden="true"></span> {{ post2.Likes }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="text"><span class="glyphicon glyphicon-eye-open"
                                                                                    aria-hidden="true"></span> {{ post2.Visits }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <p>
                                            <p></p></p>
                                            <div class="row">
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <a class="active" href="/publicPost/{{ post2.Id }}">
                                                            {{ post2.Title }}
                                                        </a>
                                                    </li>

                                                </ul>


                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <small><a class="active"
                                                                  href="/publicProfile/{{ post2.User_id }}">{{ post2.Username }}</a>
                                                            <br>
                                                            <span class="date sub-text"> Posted: {{ post2.Created_at }}</span>
                                                        </small>
                                                    </li>
                                                </ul>
                                                {% if loggeado %}
                                                    <form id="likeForm" class="form-login" name="like"
                                                          action="" method="GET">
                                                        <a href="/darLike/{{ post2.Id }}/{{ userId }}/0">
                                                            Like
                                                        </a>
                                                    </form>
                                                {% endif %}
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="form-group">
                                                            <label for="comment">Latest comment:</label>
                                                            <textarea class="form-control noresize" rows="1"
                                                                      id="comment" readonly>
                                                                {% for key2 in arrayGeneral %}
                                                                    {% if post2.Id == key2.Id_img %}
                                                                        {{ key2.Content }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                        </textarea>
                                                        </div>
                                                    </li>
                                                </ul>



                                            </div>
                                            {% if loggeado %}
                                                <div class="row">
                                                    <form id="comentario" class="form-login" name="comentario"
                                                          action="/comment/{{ post2.Id }}" method="GET">
                                                        <input type="text" class="form-control" name="comentario"
                                                               id="comentario" placeholder="comentario"/>
                                                        <a href="/comment/{{ post2.Id }}">
                                                            <button type="submit" class="btn btn-default"><span
                                                                        class="glyphicon glyphicon-comment"
                                                                        aria-hidden="true"></span>Comment
                                                            </button>
                                                        </a>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>

                                    {% endfor %}
                                </div>
                                <form id="ajaxNewPics" class="form-login" name="ajaxNewPics"
                                      action="/cargarNewFotosAjax" method="GET">
                                    <input id="1" type="submit" class="btn btn-default ajax_btn"> Load More</input>
                                    <div id="response-container"></div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    {% endblock %}

    {% block scripts %}
        {{ parent() }}

        <script src="/assets/js/peticionAjax.js" type="text/javascript"></script>

        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"
                charset="utf-8"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
        <script src="{{ asset('/form_validation.js','js') }}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

    {% endblock %}
