{% extends "base.twig" %}


{% block title %}Log In{% endblock %}
{% block head %}{{ parent() }}
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container">
        <form id="login" class="form-login" name="login" action="" method="POST"
              accept-charset="utf-8">
            <h1 class="text-center">Log In</h1>
            <p>
                <label class="sr-only">User name or email</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username or Email"/>
            </p>

            <p>
                <label class="sr-only">Password</label>
                <input type="password" class="form-control" name="password" id="password"
                       placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"/>
            </p>

            <button type="submit" class="btn btn-primary btn-block">Log In</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="{{ asset('/assets/js/form_validation.js','js') }}"></script>
{% endblock %}
