{% extends "base.twig" %}

{% block title %}Comments{% endblock %}
{% block head %}{{ parent() }}
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
{% endblock %}
{% block content %}

    {{ parent() }}

    <div class="container">
        <div class="notifications">
            <h3 class="text-left">Notifications received</h3>
            {% if vacio > 0 %}
                <br>
                <h4>Notifications from comments</h4>
                {% for notificacion in array %}

                    {% if notificacion.Tipo == 0 %}
                        <div class="list-group-item">
                            <h4>{{ notificacion["Title"] }}</h4>
                            <small>{{ notificacion["Username"] }}</small>
                            <a class="input-group" href="/seenNotification/{{ notificacion.Id_notif }}">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-check"
                                                                                    aria-hidden="true"></span></button>
                            </a>
                        </div>
                    {% endif %}

                {% endfor %}
                <br>
                <h4>Notifications from Likes</h4>
                {% for notificacion in array %}

                    {% if notificacion.Tipo == 1 %}
                        <div class="list-group-item">
                            <h4>{{ notificacion["Title"] }}</h4>
                            <small>{{ notificacion["Username"] }}</small>
                            <a class="input-group" href="/seenNotification/{{ notificacion.Id_notif }}">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-check"
                                                                                    aria-hidden="true"></span></button>
                            </a>
                        </div>
                    {% endif %}

                {% endfor %}


            {% else %}
                <div class="list-group-item">
                    <h1>There are no more notifications</h1>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}


{% endblock %}


