{% extends "base.twig" %}

{% block title %}Post new pic{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
    {{ parent() }}

    <div class="container">
        <form id="login" class="form-horizontal" name="img" action="" method="POST" enctype="multipart/form-data"
              accept-charset="utf-8">
            <h1 class="text-center">Post Image</h1>
            <div class="row">
                <div class="col-lg-10 ccol-lg-offset-1 col-md-12 col-sm-12">
                    <p>
                    <p></p></p>


                    <img id="imgToUpload" class="img-responsive center-block" src="/assets/img/default_profile.jpg"
                         width="400" height="400" onchange="previewFile()"/>
                    <p>
                    <p></p></p>

                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">Photo <br></label>

                <div class="col-md-5 col-sm-8">
                    <div class="input-group"><span class="input-group-addon" id="file_upload"><i
                                    class="glyphicon glyphicon-upload"></i></span>
                        <input type="file" name="file_nm_owner" id="file_nm_owner" class="form-control upload"
                               placeholder="" aria-describedby="file_upload" onchange="previewFile()">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-3">Title<span class="text-danger">*</span></label>
                <div class="col-md-8 col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="title" class="form-control" name="title" id="title" placeholder="Enter a title"
                               value="">
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Private <span class="text-danger">*</span></label>
                <div class="col-md-8 col-sm-9">
                    <div class="radio">
                        <input type="checkbox" class="custom-control-input" name="private" id="private">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-10">
                    <input name="Submit" type="submit" value="Upload Picture" class="btn btn-primary">
                </div>
            </div>


        </form>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}

    <script>
        function previewFile() {
            //var preview = document.querySelector('profile-pic');
            var preview = document.getElementById('imgToUpload');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file); //reads the data as a URL
            } else {
                preview.src = "";
            }
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="{{ asset('/assets/js/img_validation.js','js') }}"></script>
{% endblock %}
