{% extends "base.twig" %}
{% block styles %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/publicPostsPopping.css">
{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block title %}HOME{% endblock %}

{% block content %}
    {{ parent() }}



    <!-- Zona central -->

    <div class="container">

        <div class="row">

            <div class="col-md-3 profile">

                <div class="col-md-8" id="fotos">
                    <div class="container">

                        <div class="row">
                            <h1 class="text-center">What's Popping</h1>
                        </div>
                        <div class="table-striped">
                            <div class="row">
                                <div class="container-fluid">
                                    {% for post in posts %}

                                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                                            <p>
                                            <p></p></p>
                                            <div class="img-overlay">
                                                <img class="img-responsive"
                                                     src="{{ asset('/assets/img/'~post.Img_path) }}" width="400"
                                                     height="400"/>
                                                <div class="fa fa-plus project-overlay">
                                                    <div class="overlay" style="text-align:center;">
                                                        <div class="row">
                                                            <div class="text"><span class="glyphicon glyphicon-heart"
                                                                                    aria-hidden="true"></span> {{ post.Likes }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="text"><span class="glyphicon glyphicon-eye-open"
                                                                                    aria-hidden="true"></span> {{ post.Visits }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <p>
                                            <p></p></p>
                                            <div class="row">
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <a class="active" href="/publicPost/{{ post.Id }}">
                                                            {{ post.Title }}
                                                        </a>
                                                    </li>
                                                </ul>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <small><a class="active"
                                                                  href="/publicProfile/{{ post.User_id }}">
                                                                {{ post.Username }}
                                                            </a>
                                                        </small>
                                                    </li>
                                                </ul>

                                                {% if loggeado %}
                                                    <form id="likeForm" class="form-login" name="like"
                                                          action="/like/{{ post.Id }}/0" method="GET">
                                                        <button type="submit" class="btn btn-primary"
                                                                data-toggle="button" aria-pressed="false"
                                                                autocomplete="off"><span
                                                                    class="glyphicon glyphicon-heart"
                                                                    aria-hidden="true"></span> Like
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                            {% if loggeado %}
                                                <div class="row">
                                                    <form id="comentario" class="form-login" name="comentario"
                                                          action="/comment/{{ post.Id }}" method="GET">
                                                        <input type="text" class="form-control" name="comentario"
                                                               id="comentario" placeholder="comentario"/>
                                                        <a href="/comment/{{ post.Id }}">
                                                            <button type="submit" class="btn btn-default"><span
                                                                        class="glyphicon glyphicon-comment"
                                                                        aria-hidden="true"></span>Comment
                                                            </button>
                                                        </a>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            //$(".btn").click(function(){
            //  $(this).button('toggle');
            //$(window).alert("ZZZZ");

            //});
        });
    </script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="{{ asset('/form_validation.js','js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

{% endblock %}
