{% extends "base.twig" %}

{% block title %}Public Post{% endblock %}
{% block head %}{{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/css/publicPost1.css">

{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe center-block">
                <p>
                <p></p></p>
                <h4 class="taskDescription">{{ post[0].Title }}</h4>
                <img class="img-responsive" src="{{ asset('/assets/img/_400_'~post[0].Img_path) }}" width="400"
                     height="300"/>
                <p>
                <p></p></p>
                <div class="row">
                    <a href="/publicProfile/{{ post[0].User_id }}" class="taskDescription">{{ post[0].Username }}</a>
                    <div class="row">
                        <div class="text"><span class="glyphicon glyphicon-heart"
                                                aria-hidden="true"></span> {{ post[0].Likes }}</div>
                    </div>
                    <div class="row">
                        <div class="text"><span class="glyphicon glyphicon-eye-open"
                                                aria-hidden="true"></span> {{ post[0].Visits }}</div>
                    </div>
                    <div class="row">
                        <span class="date sub-text"> Posted {{ datediff }} days ago</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <!--<form id="likeForm" class="form-login" name="like" action="/like/{{ post[0].Id }}/1" method="GET">
                <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                        autocomplete="off"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like
                </button>
            </form>-->
            {% if loggeado %}
            <form id="likeForm" class="form-login" name="like"
                  action="" method="GET">
                <a href="/darLike/{{ post[0].Id }}/{{ userId }}/1">
                    Like
                </a>
            </form>
            {% endif %}
        </div>

        <div class="detailBox">

            <div class="titleBox">
                <label>Comments</label>

            </div>


            <div class="actionBox">
                <ul class="commentList" id="commentList">
                    {% for comment in comments %}
                        <li>
                            <div class="commentText">
                                <p class=""> {{ comment.Content }}</p> <span
                                        class="date sub-text"> {{ comment.Username }}</span>

                            </div>
                        </li>
                    {% endfor %}
                </ul>




                    <form id="ajaxComments" class="form-login" name="ajaxComments"
                          action="" method="POST">
                        <input type="hidden" id="idRecoger" value="{{ post[0].Id }}"> </input>
                        <input id="" type="submit" class="btn btn-default ajax_btn">loadMore</input>

                        <div id="response-container"></div>
                    </form>




            </div>
            {% if loggeado %}
                <form id="comentario" class="form-login" name="comentario" action="/comment/{{ post[0].Id }}"
                      method="GET">
                    <input type="text" class="form-control" name="comentario" id="comentario"
                           placeholder="comentario"/>
                    <a href="/comment/{{ post[0].Id }}">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-comment"
                                                                            aria-hidden="true"></span> Comment
                        </button>
                    </a>
                </form>
            {% endif %}
        </div>


    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}

    <script src="/assets/js/peticionAjax.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="{{ asset('/img_validation.js','js') }}"></script>



{% endblock %}
