{% extends "base.twig" %}
{% block styles %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/publiProfileBlock8.css">

{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block title %}HOME{% endblock %}

{% block content %}

    <!-- Barra de navegacion -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="aboutMe.html">PWGRAM</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="inactive"><a href="/">Home<span class="sr-only"></span></a></li>
                    <li class="active"><a href="/publicPostsPoppin"> Public Posts <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
                {% if loggeado %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/getComment" name="mycomments"> My Comments </a></li>
                    </ul>
                {% endif %}

                {% if loggeado %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/getMyPics" name="mypics"> My Pics </a></li>
                    </ul>
                {% endif %}

                {% if not loggeado %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logIn">Log In</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signup">Sign Up</a></li>
                    </ul>
                {% endif %}

                {% if loggeado %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/owner">Post new Pic</a></li>
                    </ul>
                {% endif %}
                {% if loggeado %}

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/editProfileData">{{ nomUser }} </a></li>
                    </ul>

                {% endif %}


            </div>
        </div>
    </nav>

    <!-- Zona central -->

    <div class="container">

        <div class="row">

            <div class="col-md-3 profile">

                <div class="col-md-8" id="fotos">
                    <div class="container">

                        <div class="row">
                            <h1 class="text-center">{{ nomUser }}'s Public Profile</h1>
                        </div>

                        <div class="row">
                            <h2 class="text-center">{{ numImgs }} pictures posted</h2>
                        </div>

                        <div class="row">

                            {% if numComentarios > 1 %}
                                <h3 class="text-center">{{ numComentarios }} comments written</h3>
                            {% else %}
                                <h3 class="text-center">{{ numComentarios }} comment written</h3>
                            {% endif %}
                        </div>

                        <form action="/publicProfile/{{ user_id }}" method="POST">
                            Order by:

                            <select name="opcionOrdenar">

                                <option>DataCreated</option>

                                <option>Likes</option>

                                <option>Comments</option>

                                <option>Visits</option>


                            </select>

                            <input type="submit" value="Enviar">

                        </form>

                        <div class="table-striped">
                            <div class="row">
                                <div class="container-fluid">
                                    {% for post in listadoImgs %}

                                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                                            <p>
                                            <p></p></p>
                                            <div class="img-overlay">
                                                <img class="img-responsive"
                                                     src="{{ asset('/assets/img/'~post.Img_path) }}" width="400"
                                                     height="400"/>
                                            </div>


                                            <p>
                                            <p></p></p>
                                            <div class="row">
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <a class="active" href="/publicPost/{{ post.Id }}">
                                                            {{ post.Title }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--<article>
                      <header>

                      </header>
                      <footer><small id="fecha">Posted on 1 january 1994</small></footer>
                      <div class="lead" id="contenido"> texto del post </div>
                      <hr>
                    </article>-->

                </div>

            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            //$(".btn").click(function(){
            //  $(this).button('toggle');
            //$(window).alert("ZZZZ");

            //});
        });
    </script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="{{ asset('/form_validation.js','js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

{% endblock %}
