{% extends "base.twig" %}

{% block title %}Sign Up{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container">
        <form id="signup" class="form-horizontal" name="signup" enctype="multipart/form-data" action="" method="POST"
              accept-charset="utf-8">
            <h1 class="text-center">Sign Up</h1>

            <div class="row">
                <div class="col-md-2 col-md-offset-5">
                    <div class="profile-header-container">
                        <div class="profile-header-img">
                            <img id="profile-pic" name="profile-pic" class="img-circle"
                                 src="/assets/img/default_profile.jpg" alt="Choose a profile pic" width="150"
                                 height="150">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>
                <p></p></p>
                <p>
                <p></p></p>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-3">Username <span class="text-danger">*</span></label>
                <div class="col-md-8 col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {% if primera_vez %}
                        <input type="username" class="form-control" name="username" id="username"
                               placeholder="{{ username }}" value="">
                        {% else %}
                            <input type="username" class="form-control" name="username" id="username"
                                   placeholder="Enter your Username" value="">
                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">Email <span class="text-danger">*</span></label>
                <div class="col-md-8 col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        {% if primera_vez %}
                            <input type="email" class="form-control" name="email" id="email" placeholder="{{ email }}"
                               value="">
                        {% else %}
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email"
                                   value="">
                        {% endif %}
                    </div>
                </div>
                {% block errorEmail %}{% endblock %}
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Date of Birth <span class="text-danger">*</span></label>
                <div class="col-xs-8">
                    <input id="date" type="date" name="date">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Password <span class="text-danger">*</span></label>
                <div class="col-md-5 col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="Choose password (6-12 chars)" value="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Confirm Password <span class="text-danger">*</span></label>
                <div class="col-md-5 col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="cpassword" id="cpassword"
                               placeholder="Confirm your password" value="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">Profile Photo <br></label>

                <div class="col-md-5 col-sm-8">
                    <div class="input-group"><span class="input-group-addon" id="file_upload"><i
                                    class="glyphicon glyphicon-upload"></i></span>
                        <input type="file" name="file_nm" id="file_nm" class="form-control upload" placeholder=""
                               aria-describedby="file_upload" onchange="previewFile()">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-10">
                    <input name="Submit" type="submit" value="Sign Up" class="btn btn-primary">
                </div>
            </div>


        </form>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}

    <script src="../../../web/assets/js/signupJS.js"></script>

    <script>
        function previewFile() {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file); //reads the data as a URL
            } else {
                preview.src = "";
            }
        }

        //previewFile();  //calls the function named previewFile()
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="{{ asset('/assets/js/signUp_validation.js','js') }}"></script>



{% endblock %}
