{% extends "base.twig" %}

{% block title %} Profile user {% endblock %}
{% block head %}
    {{ parent() }}
    <!--<style type="text/css">
        h1 {
        }
    </style>-->
{% endblock %}
{% block content %}
    {{ parent() }}

    <div class="container">

        <form id="userProfile" class="form-profile" name="userProfile" action="" method="POST"
              enctype="multipart/form-data" accept-charset="utf-8">
            <h1 class="text-center">Edit your profile</h1>

            {% for user in array %}


                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <div class="profile-header-container">
                            <div class="profile-header-img">
                                <img id="imgToEdit" class="img-circle" src="/assets/img/{{ user.Img_path }}"
                                     alt="Choose a profile pic" width="150" height="150"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Edit your name</label>

                    <div class="col-md-8 col-sm-9">
                        <div class="input_group">
                            <input type="username" class="form-control" name="username" id="username"
                                   value="{{ user.Username }}"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-3">Edit your birthdate</label>

                    <div class="col-md-8 col-sm-9">
                        <div class="input_group">
                            <input type="date" class="form-control" name="bday" id="bday" value="{{ user.Birthdate }}"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-3">Enter a new password (or leave blank to keep password the
                        same)</label>

                    <div class="col-md-5 col-sm-8">
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder=""
                                   value=""/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Repeat the new password</label>

                    <div class="col-md-5 col-sm-8">
                        <div class="input-group">
                            <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder=""
                                   value=""/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-5">Profile Photo </label>

                    <div class="col-md-5 col-sm-8">
                        <div class="input-group">
                            <input type="file" value="" name="file_nm" id="file_nm" class="form-control upload"
                                   placeholder="" aria-describedby="file_upload" onchange="previewFile()" oninput="">

                        </div>
                    </div>
                </div>


                <div class="form-group">

                    <div class="col-md-5 col-sm-8">
                        <div class="input-group">
                            <input type="hidden" class="form-control" name="backUpPassword" id="backUpPassword"
                                   placeholder="" value="{{ user.Password }}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-5 col-sm-8">
                        <div class="input-group">
                            <input type="hidden" class="form-control" name="backUpImgPath" id="backUpImgPath"
                                   placeholder="" value="{{ profilePic }}"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-10">

                        <input type="submit" name="submit" value="Change user profile" class="btn btn-primary">


                    </div>
                </div>
            {% endfor %}

        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}


    <script>
        function previewFile() {
            var preview = document.getElementById('imgToEdit');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file); //reads the data as a URL
            } else {
                preview.src = "";
            }
        }

        //previewFile();  //calls the function named previewFile()
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="{{ asset('/profile_validation.js','js') }}"></script>

{% endblock %}
