{% extends "base.twig" %}

{% block head %}{{ parent() }}{% endblock %}
{% block title %}HOME{% endblock %}

{% block content %}

    <!-- Barra de navegacion -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="aboutMe.html">PWGRAM</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="inactive"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li class="inactive"><a href="/publicPostsPoppin"> Public Posts <span
                                    class="sr-only">(current)</span></a></li>

                </ul>
                <!-- ME SOBRA ESTE

                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""> </a></li>
                </ul>-->


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ hLog.hLog }}" name="logIn"> {{ titleLog.titleLog }} </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ hRegister.hRegister }}">{{ titleRegister.titleRegister }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ hOwner.hOwner }}">{{ titleOwner.titleOwner }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/userPage">{{ userSession }}</a></li>
                </ul>
                <!--<?php
            session_start();
            if (!isset($_SESSION['currentUser'])) {
                ?>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.php">Log In</a></li>
                </ul>
                <?php } ?>

                <?php
            session_start();
            if (!isset($_SESSION['currentUser'])) {
                ?>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="registro.html">Register</a></li>
                </ul>
                <?php } ?>

                <?php
            session_start();
            if (isset($_SESSION['currentUser'])) {
                ?>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="ownerEntries.php">Your Posts</a></li>
                </ul>

                <?php } ?> -->

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Zona central -->

    <div class="container">

        <div class="row">

            <div class="col-md-3 profile">


                <!--   <?php
               session_start();
               if (!isset($_SESSION['currentUser'])) {
                   ?>
                   <aside>
                       <h2>No user Logged In</h2>
                       <hr>


                   </aside>

                   <?php } else {

                   ?>
                   <aside>

                       <h2>Welcome, <?php echo $_COOKIE['User']; ?></h2>
                       <hr>


                   </aside>

                   <?php } ?>

               </div> -->

                <div class="col-md-8" id="fotos">
                    <div class="container">

                        <div class="row">
                            <h1 class="text-center">{{ userSession }}'s Page</h1>
                        </div>
                        <div class="table-striped">
                            <div class="row">
                                <div class="container-fluid">
                                    {% for post in posts %}

                                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                                            <p>
                                            <p></p></p>
                                            <figcaption class="figure-caption">{{ post.Title }}</figcaption>

                                            <img class="img-responsive" src="{{ asset('/assets/img/'~post.Img_path) }}"
                                                 width="400" height="400"/>
                                            <p>
                                            <p></p></p>
                                            <div class="row">
                                                <a href=/edit/{{ post.Id }}">
                                                    <button type="button" class="btn btn-default"><span
                                                                class="glyphicon glyphicon-pencil"
                                                                aria-hidden="true"></span>Edit
                                                    </button>
                                                </a>
                                                <a href="/remove/{{ post.Id }}"
                                                   onclick="return confirm('Are you sure you want to delete this post?');">
                                                    <button type="button" class="btn btn-default"><span
                                                                class="glyphicon glyphicon-trash"
                                                                aria-hidden="true"></span>Delete
                                                    </button>
                                                </a>

                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--<article>
                      <header>

                      </header>
                      <footer><small id="fecha">Posted on 1 january 1994</small></footer>
                      <div class="lead" id="contenido"> texto del post </div>
                      <hr>
                    </article>-->

                </div>

            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="{{ asset('/form_validation.js','js') }}"></script>

{% endblock %}
